.DS_Store

Day1/ThuongKonTum.png
Day1/bedmap2_datasets.zip
Day1/bedmap2_datasets

Day2/stations
Day2/waveforms

Day3/stations
Day3/waveforms

Day4/*.pkl
Day4/*.staxml
Day4/*.xml
Day4/XCORR/*
Day4/XCORR_PUB/*

Day5/Test_data
Day5/Train_data
Day5/Data_pack.zip